.weather {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -250px;
}

svg {
  width: 60px;
  height: 60px;
  margin: 10px;
  position: relative;
}
path.st0 {
  fill: #c4c4c4;
}
.sun-body {
  fill: #c4c4c4;
}

.sun-rays {
  fill: #f9e267;
}

.sun-rays.sunny {
  transform-origin: 45px 45px;
  animation: sunAnimation 30s linear infinite;
  -webkit-animation: sunAnimation 30s linear infinite;
}

.partly-cloudy {
  animation: cloudySunnyAnimation 3s ease infinite;
  -webkit-animation: cloudySunnyAnimation 3s ease infinite;
}

.cloud {
  fill: #c4c4c4;
  animation: cloudAnimation 3s infinite;
  -webkit-animation: cloudAnimation 3s infinite;
}

.cloud.cloudy {
  animation: cloudyAnimation 5s infinite;
  -webkit-animation: cloudyAnimation 5s infinite alternate ease-in-out;
}

.cloud.windy {
  animation: cloudWindyAnimation 4s infinite;
  -webkit-animation: cloudWindyAnimation 4s infinite;
}

.breeze {
  animation: cloudWindyAnimation 4s infinite;
  -webkit-animation: cloudWindyAnimation 4s infinite;
}

.rain {
  fill: #4681c3;
}

.rain.raindrop-one,
.rain.raindrop-two,
.rain.raindrop-three {
  opacity: 0;
}

.rain.raindrop-one {
  animation: rainAnimation 2s infinite ease-in-out;
  -webkit-animation: rainAnimation 2s infinite ease-in-out;
}

.rain.raindrop-two {
  animation: rainAnimation 2s infinite 0.5s ease-in-out;
  -webkit-animation: rainAnimation 2s infinite 0.5s ease-in-out;
}

.rain.raindrop-three {
  animation: rainAnimation 2s infinite 1s ease-in-out;
  -webkit-animation: rainAnimation 2s infinite 1s ease-in-out;
}

.hail {
  fill: #e1e3e4;
  animation: hailAnimation 3s infinite ease-in-out;
  -webkit-animation: hailAnimation 3s infinite ease-in-out;
}

.snow {
  fill: #acd3f3;
}

.snow.snowflake-one,
.snow.snowflake-two,
.snow.snowflake-three,
.snow.snowflake-four {
  opacity: 0;
}

.snow.snowflake-one {
  animation: snowAnimation 3s infinite ease-in-out;
  -webkit-animation: snowAnimation 3s infinite ease-in-out;
}

.snow.snowflake-two {
  animation: snowAnimation 3s infinite 1s ease-in-out;
  -webkit-animation: snowAnimation 3s infinite 1s ease-in-out;
}

.snow.snowflake-three {
  animation: snowAnimation 3s infinite 2s ease-in-out;
  -webkit-animation: snowAnimation 3s infinite 2s ease-in-out;
}

.snow.snowflake-four {
  animation: snowAnimation 3s infinite 2s ease-in-out;
  -webkit-animation: snowAnimation 3s infinite 2s ease-in-out;
}

.bolt {
  fill: #eba82c;
  animation: boltAnimation 6s ease infinite;
  -webkit-animation: boltAnimation 6s ease infinite;
}

.fog {
  fill: #d8d8d8;
}

.fog.bank-one {
  -webkit-animation: fogbankOneAnimation 5s infinite alternate ease-in-out;
  animation: fogbankOneAnimation 5s infinite alternate ease-in-out;
}

.fog.bank-two {
  -webkit-animation: fogbankTwoAnimation 5s infinite alternate ease-in-out;
  animation: fogbankTwoAnimation 5s infinite alternate ease-in-out;
}

.breeze {
  fill: #c5d6e5;
}

@keyframes cloudAnimation {
  0%, 100% {
    stroke: #ffffff;
  }
  50% {
    stroke: #c4c4c4;
  }
}

@-webkit-keyframes cloudAnimation {
  0%, 100% {
    stroke: #ffffff;
  }
  50% {
    stroke: #c4c4c4;
  }
}

@keyframes sunAnimation {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sunAnimation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fogbankOneAnimation {
  0%,
  100% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes fogbankOneAnimation {
  0%,
  100% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
  }
}

@keyframes fogbankTwoAnimation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes fogbankTwoAnimation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rainAnimation {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30%,
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

@-webkit-keyframes rainAnimation {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30%,
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

@keyframes snowAnimation {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30%,
  55% {
    opacity: 1;
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(12px) translateX(-10px);
    opacity: 0;
  }
}

@-webkit-keyframes snowAnimation {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30%,
  55% {
    opacity: 1;
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(12px) translateX(-10px);
    opacity: 0;
  }
}

@keyframes cloudWindyAnimation {
  50% {
    transform: translateX(7px);
  }
}

@-webkit-keyframes cloudWindyAnimation {
  50% {
    transform: translateX(7px);
  }
}

@keyframes boltAnimation {
  0%,
  100% {
    fill: #eba82c;
  }
  20%,
  25%,
  30%,
  90% {
    fill: #e3980e;
  }
  21.5%,
  27.5%,
  40% {
    fill: #f7c260;
  }
}

@-webkit-keyframes boltAnimation {
  0%,
  100% {
    fill: #eba82c;
  }
  20%,
  25%,
  30%,
  90% {
    fill: #e3980e;
  }
  21.5%,
  27.5%,
  40% {
    fill: #f7c260;
  }
}

@keyframes hailAnimation {
  0%,
100% {
  fill: #e1e3e4;
}

50% {
  fill: #748593;
}

}
@-webkit-keyframes hailAnimation {

0%, 100% {
  fill: #e1e3e4;
}

50% {
  fill: #748593;
}

}
@keyframes cloudyAnimation {
  0%, 100% {
    stroke: #ffffff;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
    stroke: #c4c4c4;
  }
}

@-webkit-keyframes cloudyAnimation {
  0%, 100% {
    stroke: #ffffff;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
    stroke: #c4c4c4;
  }
}

@keyframes cloudySunnyAnimation {
  0%, 100% {
    fill: #f9e267;
  }
  50% {
    fill: #e7cd3f;
  }
}

@-webkit-keyframes cloudySunnyAnimation {
  0%, 100% {
    fill: #f9e267;
  }
  50% {
    fill: #e7cd3f;
  }
}
